<div class="logincard">
    <div class="pmd-card card-default pmd-z-depth">

        <!-- sign in -->
        <div class="login-card">
            <form action="/auth/login" method="post">
                <div class="pmd-card-title card-header-border text-center">
                    <div class="loginlogo">
                        <a href="/">
                            <%= __('appName') %>
                        </a>
                    </div>
                    <h3>Sign In</h3>
                </div>
                <div class="pmd-card-body">
                    <% if (flash && flash.err) { %>
                        <div class="alert alert-danger">
                            <%= flash.err %>
                        </div>
                        <% } %>

                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="inputError1" class="control-label pmd-input-group-label">E-Mail</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">perm_identity</i></div>
                                    <input type="email" class="form-control" name="email" autofocus required>
                                </div>
                            </div>
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="inputError1" class="control-label pmd-input-group-label">Password</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="material-icons md-dark pmd-sm">lock_outline</i></div>
                                    <input type="password" class="form-control" name="password" required>
                                </div>
                            </div>
                </div>
                <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
                    <div class="form-group clearfix">
                        <div class="checkbox pull-left">
                            <label class="pmd-checkbox checkbox-pmd-ripple-effect">
                            <input type="checkbox" checked="" value="">
                            <span class="pmd-checkbox"> Remember me</span>
                          </label>
                        </div>
                    </div>
                    <div class="g-recaptcha" data-sitekey="<%=sails.config.recaptcha.siteKey %>"></div><br>
                    <button type="submit" class="btn pmd-ripple-effect btn-primary btn-block">Login</button><br><br><br>
                </div>
            </form>
        </div>

    </div>
</div>