<div class="hm-section-light">
   
   <div class="section section-2 text-center">
      Please enter your registration email to recover your link
      <br><br>
      <div class="hm-form line text-center resend-form" style="max-width: 300px;">
         <input type="email" name="email" placeholder="Enter your email" required autofocus><span id='msg'></span></span><br>
          <div class="text-center">
            <a href="javascript:" id="resend-btn" class="hm-btn anim hm-btn-big" type="submit" style="display:inline-block; width:200px;">Resend Email</a>
              <br><br><a href="/page/join">Back</a>
          </div>
      </div>
      <br>
  </div>

</div>

<% script('/js/dialog.js') -%>
<% script('/js/app.js') -%>
<% script('/js/resend.js') -%>
