<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>MyICO - ICO Dashboard</title>
  <meta name="Author" content="MyICO">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" href="/vendors/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.min.css">
  <link rel="icon" href="/images/holdme-favicon.png">
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
  <div class="hm-section-light fullpage">
    <div class="section section-2">
      <div class="hm-blocks-outer simple">
        <div class="hm-block-item hm-big-box">
          <br>
          <div class="text-center">
            <img src="/images/ok.png" width="130" style="margin-left: 20px;" />
            <h2>Congratulations</h2>
            <p>Do not lose your link! it is necessary for access to your profile page. Click ‘OK’ to go to your profile!</p>
            <br/>
            <a href="<%= profileURL %>"><%= profileURL %></a>
            <br/>
            <br/>
            <br/>
            <div class="text-left">
              <a href="javascript:" class="btn hm-btn-blue">Cancel</a>
              <a href="<%= profileURL %>" class="btn hm-btn-green pull-right">OK</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <br>
  </div>
  <script src="/vendors/jquery.min.js"></script>
  <script src="/vendors/bootstrap.min.js"></script>
  <script src="/js/app.min.js"></script>
</body>

</html>