<div class="container">
    <div class="jumbotron text-center">
      <h1>Contact from</h1>
      <p class="lead">Name : <%- name%></p>
      <p class="lead">Email : <%- email%></p>
      <p class="lead">Subject : <%- subject%></p>
      <p class="lead">Message : <%- message%></p>      
    </div>
  </div>