<div class="container">
  <h3>List of new transactions:</h3>
  <ol>
    <% newTransactions.forEach(function(data) { %>
      <% data.transactions.forEach(function(tx) { %>
        <li><%= data.user.email %> <%= tx.value %> <%= tx.currency %> at <%= tx.createdAt %> (<%= data.user.deposits[tx.currency].wallet %>)</li>
      <% }); %>
    <% }); %>
  </ol>
</div>
