<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="<%= __('appName') %> ICO">
  <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
  <title><%= __('appName') %> ICO Administration Panel</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/vendors/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/vendors/propeller.min.css">
  <link rel="stylesheet" type="text/css" href="/vendors/propeller-theme.css" />
  <link rel="stylesheet" type="text/css" href="/vendors/propeller-admin.css">
  <%-stylesheets%>
</head>

<body data-spy="scroll" data-offset="60" data-target="#navbar-main">

  <!--Start Nav bar -->
  <nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth">
  	<div class="container-fluid">

      <!-- logout -->
  		<div class="pmd-navbar-right-icon pull-right navigation">
  	      <div class="dropdown notification icons pmd-dropdown">
  			<a href="/auth/logout" title="Logout" class="dropdown-toggle pmd-ripple-effect" role="button" aria-expanded="true">
  				<div class="material-icons md-light">exit_to_app</div>
  			</a>
  	      </div>
  		</div>

      <!-- Brand -->
      <div class="navbar-header">
        <a href="javascript:void(0);" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left margin-r8 pmd-sidebar-toggle"><i class="material-icons">menu</i></a>
        <a href="/admin" class="navbar-brand"><%= __('appName') %></a>
      </div>

  	</div>
  </nav><!--End Nav bar -->

  <!-- Sidebar Starts -->
  <div class="pmd-sidebar-overlay"></div>

  <!-- Sidebar Starts -->
  <div class="pmd-sidebar-overlay"></div>

  <!-- Left sidebar -->
  <aside class="pmd-sidebar sidebar-default pmd-sidebar-slide-push pmd-sidebar-left bg-fill-darkblue sidebar-with-icons" role="navigation">
  	<ul class="nav pmd-sidebar-nav">

  		<!-- User info -->
  		<li class="visible-xs visible-md visible-sm visible-lg">
  			<a href="javascript:" class="btn-user media">
  				<div class="media-left">
  					<img src="/images/user-icon.png" alt="New User">
  				</div>
  				<div class="media-body media-middle"><%= me.email %></div>
  				<div class="media-right media-middle"><i class="dic-more-vert dic"></i></div>
  			</a>
  		</li><!-- End user info -->

  		<li>
        <a class="pmd-ripple-effect" href="/user/investors">
          <i class="material-icons media-left media-middle">supervisor_account</i>
          <span class="media-body">Investors</span>
        </a>
  			<a class="pmd-ripple-effect" href="/transaction">
  				<i class="material-icons media-left media-middle">compare_arrows</i>
  				<span class="media-body">Transactions</span>
  			</a>
  			<a class="pmd-ripple-effect" href="/param">
  				<i class="material-icons media-left media-middle">dashboard</i>
  				<span class="media-body">Params</span>
  			</a>
        <a class="pmd-ripple-effect" href="/user">
          <i class="material-icons media-left media-middle">supervisor_account</i>
          <span class="media-body">Users</span>
        </a>
        <a class="pmd-ripple-effect" href="/transaction/apiTest">
          <i class="material-icons media-left media-middle">dashboard</i>
          <span class="media-body">API Test</span>
        </a>
  		</li>

  	</ul>
  </aside><!-- End Left sidebar -->
  <!-- Sidebar Ends -->


  <!--content area start-->
  <div id="content" class="pmd-content content-area dashboard">
  	<!--tab start-->
  	<div class="container-fluid full-width-container blank">

      <%- partial('alert.ejs') %>

  		<%- body %>
  	</div><!-- tab end -->

  </div><!-- content area end -->

  <script src="/vendors/jquery-1.12.2.min.js"></script>
  <script src="/vendors/bootstrap.min.js"></script>
  <script src="/vendors/jquery.smooth-scroll.min.js"></script>
  <script src="/vendors/moment.min.js"></script>
  <script src="/vendors/propeller.min.js"></script>
  <%- scripts %>

</body>
</html>
