<% if (typeof flash != 'undefined') { %>
<div class="row">
  <% if (flash.err) { %>
  <div class="alert alert-danger col-md-12">
    <%= flash.err %>
  </div>
  <% } else if (flash.msg) { %>
  <div class="alert alert-success col-md-12">
    <%= flash.msg %>
  </div>
  <% } %>
</div>
<% } %>
