<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>My ICO</title>
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" href="/vendors/bootstrap.min.css">
  <link rel="stylesheet" href="/css/aos.css">
  <link rel="stylesheet" href="/vendors/widget.min.css">
  <link rel="stylesheet" href="/css/styles.min.css">
  <link rel="icon" href="/images/favicon.png">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <%-stylesheets%>
</head>

<body>

  <%- body %>

  <a href="#top" class="anim btn-top"><img src="/images/back-to-top.png" /></a>
  <script src="/vendors/jquery.min.js"></script>
  <script src="/vendors/bootstrap.min.js"></script>
  <script src="/vendors/moment.min.js"></script>
  <script src="/js/countdown.min.js"></script>
  <script src="/js/particles.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/app.min.js"></script>

  <script
    id="hold-me-script"
    data-align="right"
    data-overlay="false"
    data-color="#607D8B"
    src="/vendors/widget.js">
  </script>
  <%- scripts %>
</body>

</html>