<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Login to Admin Dashboard">
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
    <title><%= __('appName') %></title>
    <meta name="Author" content="MyICO">
    <meta property="og:title" content="MyICO - ICO Dashboard">
    <meta property="og:description" content="MyICO - ICO Dashboard">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="robots" content="index, follow">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/styles.min.css">
    <link rel="stylesheet" type="text/css" href="/vendors/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/vendors/propeller.min.css">
    <link rel="stylesheet" type="text/css" href="/vendors/propeller-theme.css" />
    <link rel="stylesheet" type="text/css" href="/vendors/propeller-admin.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body class="body-custom">

    <%- body %>

    <!-- Scripts Starts -->
    <script src="/vendors/jquery-1.12.2.min.js"></script>
    <script src="/vendors/bootstrap.min.js"></script>
    <script src="/vendors/propeller.min.js"></script>

</body>

</html>
