<div class="container">
  <div class="jumbotron text-center">
    <h1>Thanks for your interest!</h1>
    <p class="lead">Complete your registration by clicking the button below to verify your email address. If you are having problem with the button, you can also open this URL in your web browser: <a href="<%- verificationURL %>"><%- verificationURL %></a>
    </p>
    <p><a class="btn btn-lg btn-success" href="<%- verificationURL %>" role="button">Verify Email</a></p>
  </div>
</div>
