<form action="/user/update/<%=u.id%>" method="POST" class="edit">
  <div class="ow">
    <h2 class="col-md-12"> Edit user </h2>

    <div class="form-group col-md-12">
      <label>ID</label>
      <input type="text" class="form-control" placeholder="wallet" value="<%= typeof u != 'undefined' ? u.id : '' %>" disabled>
    </div>

    <%- partial('fields.ejs') %>

    <% if (typeof u != 'undefined' && u.deposits) { %>
    <h3 class="col-md-12"> Deposit Wallets </h3>

    <div class="form-group col-md-12">
      <div class="form-row">
        <% _.forOwn(u.deposits, function(val, key) { %>
          <h3 class="col-md-12">
            <%= key.toUpperCase() %>
          </h3>
          <div class="form-group col-md-12">
            <label>Address</label>
            <input type="text" class="form-control" name="deposits[<%= key %>][wallet]" value="<%= val.wallet %>">
          </div>
          <div class="form-group col-md-12">
            <label>Private Key</label>
            <input type="text" class="form-control" name="deposits[<%= key %>][privateKey]" value="<%= val.privateKey %>">
          </div>
          <% }) %>
      </div>
    </div>
    <% } %>

  </div>
  <input type="submit" value="Update User" class="btn btn-info" />
  <a href="/user" class="btn btn-default">Cancel</a>
</form>
