<div class="form-group col-md-6">
  <label>E-mail</label>
  <input type="email" class="form-control" placeholder="email" name="email" value="<%= typeof u != 'undefined' ? u.email : '' %>">
</div>

<div class="form-group col-md-6">
  <label>Role</label>
  <select class="form-control" name="role">
    <% _.forOwn(User.roles, function(val, key) { %>
    <option value="<%= val %>"<%= typeof u != 'undefined' && u.role == val ? ' selected' : '' %>><%= val %></option>
    <% }) %>
  </select>
</div>

<div class="form-group col-md-6">
  <label>Wallet</label>
  <input type="text" class="form-control" placeholder="wallet" name="wallet" value="<%= typeof u != 'undefined' ? u.wallet : '' %>">
</div>

<div class="form-group col-md-6">
  <label>Password</label>
  <input type="password" class="form-control" name="password">
</div>
