<% stylesheet('/vendors/DataTables/DataTables-1.10.15/css/dataTables.bootstrap.min.css') %>
<% stylesheet('/vendors/DataTables/Responsive-2.1.1/css/responsive.bootstrap.min.css') %>
<% stylesheet('/vendors/DataTables/Select-1.2.2/css/select.dataTables.min.css') %>
<% stylesheet('/components/data-table/css/pmd-datatable.css') %>

<h1 class="section-title" id="services">
  <span>Users</span>
  <a href="/user/new/" class="pull-right btn btn-success" role="button">
    <span>Create New</span>
  </a>
</h1>

<table id="data-table-users" class="table pmd-table table-hover table-striped display responsive nowrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Email</th>
      <th>Role</th>
      <th>Wallet</th>
      <th></th>
    </tr>
  </thead>
</table>

<!-- transfer modal -->
<div tabindex="-1" class="modal fade" id="modal-transfer" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bordered">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h2 class="pmd-card-title-text">Transfer to Smart Contract</h2>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <input type="hidden" name="userId">
          <div class="form-group pmd-textfield">
            <label for="email">E-mail</label>
            <input type="email" class="mat-input form-control" name="email" disabled>
            <span class="has-error-text" disabled></span>
          </div>
          <div class="form-group pmd-textfield">
            <label for="wallet">Wallet</label>
            <input type="text" class="mat-input form-control" name="wallet" disabled>
            <span class="has-error-text" disabled></span>
          </div>
          <div class="form-group">
            <label>Exchange Rates</label>
            <div class="row exchange-rates">
              loading..
            </ul>
          </div>
          <div class="form-group pmd-textfield">
            <label for="ether">Ether</label>
            <input type="number" class="mat-input form-control" name="ether" step="any" required autofocus>
            <span class="has-error-text"></span>
          </div>
        </form>
      </div>
      <div class="pmd-modal-action">
        <button id="btn-transfer" class="btn pmd-ripple-effect btn-primary" type="button">Submit</button>
      </div>
    </div>
  </div>
</div>

<% script('/vendors/DataTables/DataTables-1.10.15/js/jquery.dataTables.min.js') %>
<% script('/vendors/DataTables/DataTables-1.10.15/js/dataTables.bootstrap.min.js') %>
<% script('/vendors/DataTables/Responsive-2.1.1/js/dataTables.responsive.min.js') %>
<% script('/vendors/DataTables/Select-1.2.2/js/dataTables.select.min.js') %>
<% script('/js/user/index.js') %>
