<% stylesheet('/vendors/DataTables/DataTables-1.10.15/css/dataTables.bootstrap.min.css') %>
<% stylesheet('/vendors/DataTables/Responsive-2.1.1/css/responsive.bootstrap.min.css') %>
<% stylesheet('/vendors/DataTables/Select-1.2.2/css/select.dataTables.min.css') %>
<% stylesheet('/components/data-table/css/pmd-datatable.css') %>

<h1 class="section-title" id="services">
  <span>Investors</span>
</h1>

<table id="data-table-investors" class="table table-hover table-striped display responsive nowrap order-column" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Email</th>
      <th>Main Wallet</th>
      <th>Created At</th>
      <th>Bitcoin</th>
      <th>BitcoinCash</th>
      <th>Dash</th>
      <th>Ether</th>
      <th>Litecoin</th>
      <th></th>
    </tr>
  </thead>
</table>

<% script('/vendors/DataTables/DataTables-1.10.15/js/jquery.dataTables.min.js') %>
<% script('/vendors/DataTables/DataTables-1.10.15/js/dataTables.bootstrap.min.js') %>
<% script('/vendors/DataTables/Responsive-2.1.1/js/dataTables.responsive.min.js') %>
<% script('/vendors/DataTables/Select-1.2.2/js/dataTables.select.min.js') %>
<% script('/js/user/investors.js') %>
