<form action="/user/create" method="POST" role="form" class="new">
    <div class="row">
        <h2 class="col-md-12">Create a user</h2>

        <%- partial('fields.ejs') %>

        <div class="form-group col-md-12">            
            <label>Deposits</label>
            <div class="form-group">
                <% _.forOwn(acceptedCurrencies, function (cur, key) { %>
                <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                    <input type="checkbox" name="currencies" value="<%= key %>">
                    <span><%= cur.name %></span>
                </label>
                <% }) %>
            </div>
        </div>

    </div>
    <input type="submit" value="Submit" class="btn btn-info" />
    <a href="/user" class="btn btn-default">Cancel</a>
</form>
