<div class="row">
    <!-- Check Deposit Balance -->
    <h2 class="col-md-12"> Check Deposit Balance </h2>
    <br>
    <div id="check-balance" class="form-inline">
        <select name="currency" class="form-control">
            <option value="bitcoin">Bitcoin</option>
            <option value="bitcoinCash">BitcoinCash</option>
            <option value="ether" selected>Ethereum</option>
            <option value="dash">Dash</option>
            <option value="litecoin">Litecoin</option>            
        </select>
        <input type="text" class="form-control" size="50" name="address" value="0xB42b8f0aac75c7231AF3d9403cCFBE667892d2Cf" />
        <button class="btn btn-info">Check</button>
    </div>

    <!-- Check Total Token Issued -->
    <h2 class="col-md-12"> Check Total Token Issued </h2>
    <br>
    <div id="total-token-issued" class="col-md-12 form-inline">
        <button class="btn btn-info">Check</button>
    </div>

    <!-- Contribute Coins -->
    <h2 class="col-md-12"> Contribute Coins </h2>
    <br>
    <div id="contribute-coins" class="col-md-12 form-inline">
        <input type="text" name="address" value="0x46467CA9FfE3E8A5eB9BfB8f50797A324BB93573" class="form-control" size="50" required>
        <input type="number" class="form-control" step="any" min="0.1" max="1.0" name="coins" value="0.1" required>
        <button class="btn btn-warning">Contribute</button>
    </div>
    
</div>

<% script('/js/transaction/apiTest.js') %>
