<form action="/transaction/update/<%=transaction.id%>" method="POST" class="edit">
  <div class="row">
    <h2 class="col-md-12"> Edit transaction </h2>

    <%- partial('fields.ejs') %>

  </div>
  <input type="submit" value="Update Transaction" class="btn btn-info" />
  <a href="/transaction" class="btn btn-default">Cancel</a>
</form>
