<div class="form-group col-md-6">
  <label>UserId</label>
  <input type="text" class="form-control" name="userId" value="<%= typeof transaction != 'undefined' ? transaction.userId : '' %>" required>
</div>

<div class="form-group col-md-6">
  <label>Currency</label>
  <select class="form-control" name="currency">
    <% _.forOwn(acceptedCurrencies, function(val, key) { %>
    <option value="<%= key %>"<%= typeof transaction != 'undefined' && transaction.currency == key ? ' selected' : '' %>><%= val.name %></option>
    <% }) %>
  </select>
</div>

<div class="form-group col-md-6">
  <label>Value</label>
  <input type="number" step="any" class="form-control" name="value" value="<%= typeof transaction != 'undefined' ? transaction.value : '' %>"
    required>
</div>