#join-card .pmd-card-actions {
    padding: 16px;
}

#join-card a {
  color: blue;
}

.pmd-card-actions .btn.btn-block {
  margin: 0;
}

.has-error a {
  color: inherit;
}

.checkbox.has-error .has-error-text {
  display: block;
  color: #a94442;
}

a i {
  cursor: pointer;
}

/* currencies card */
.currencies { padding:0 10px;}
.currencies li { width:40%; vertical-align:top; margin-bottom:20px; padding: 15px 0; cursor: pointer;}
.currencies .pmd-display2 { font-size: 28px; line-height:1.2;}
.currencies .typo-fill-secondary {color: rgba(77, 87, 93, 0.68);font-weight: 500;}
@media (max-width: 767px) { .currencies li { width: 48%; } }
.currencies li:hover, .currencies li.selected { background-color: #ddd; }
