
.statistics {
   color: black;
   padding-bottom: 3em
}

.statistics .statistics__progress {
   position: relative;
   z-index: 3;
   padding-bottom: 3em
}

.statistics .statistics__progress h3 {
   text-align: center;
   padding-top: 1em;
   font-weight: 100
}

.statistics .statistics__progress p {
   position: absolute;
   right: 1.5%;
   font-weight: 100;
   letter-spacing: 1px
}

.statistics .statistics__progress .checkpoint {
   position: relative
}

.statistics .statistics__progress .checkpoint p {
   padding-top: .3em;
   font-weight: bolder
}

.statistics .statistics__progress .checkpoint p:first-child {
   position: absolute;
   left: 17%;
   bottom: 20
}

.statistics .statistics__progress .checkpoint p:nth-child(2) {
   position: absolute;
   left: 37%;
   bottom: 20
}

.statistics .statistics__progress .checkpoint p:nth-child(3) {
   position: absolute;
   left: 57%;
   bottom: 20
}

.statistics .statistics__progress .checkpoint p:nth-child(4) {
   position: absolute;
   left: 77%;
   bottom: 20
}

.statistics .statistics__progress .goalProgress {
   background: #272337;
   padding: 5px;
   border-radius: 25px
}

.statistics .statistics__progress div.progressBar {
   background-image: -webkit-linear-gradient(260deg, #CE93D8 23%, #BA68C8 75%);
   background-image: -o-linear-gradient(260deg, #CE93D8 23%, #BA68C8 75%);
   background-image: linear-gradient(190deg, #CE93D8 23%, #BA68C8 75%);
   color: #000;
   letter-spacing: 1px;
   font-weight: 100;
   padding: 10px;
   display: block;
   width: 20px;
   border-radius: 25px;
   text-align: right;
   position: relative
}

.statistics .statistics__progress span.goalAmount {
   display: none;
   text-indent: -9999px
}

.statistics .top {
   padding-top: 3em
}
