/*********************************************************************************************/
/* NOTE:                                                                                     */
/* Minify this file after editing, as all pages use minified version of this file            */
/* for better performance                                                                    */
/*                                                                                           */
/* References :                                                                              */
/* - http://colorzilla.com/gradient-editor/#0273b9+0,0c4b90+100                              */
/* - https://www.cssmatic.com/box-shadow                                                     */
/* - https://codepen.io/designcouch/pen/Atyop                                                */
/* - https://css-tricks.com/basics-css-blend-modes/                                          */
/*********************************************************************************************/

body {    
    font-size: 12px;
    background-color: #ddd;
    padding-top: 2em;
}
img {
    max-width: 100%;
}
a.btn {
    border-radius: 0;
    color: #fff;
}
.clear{clear:both;display:block;}
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}
.section {
    position:relative;
    min-height: 240px;
    z-index: 1;
    overflow: hidden;
}
.hm-sitelogo {
    background: url(../images/holdme-logo-white.png);
    background-image: url(../images/holdme-logo-white.svg), none;
    display: inline-block;
    width: 90px;
    height: 70px;
    position: relative;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
}
.hm-caption-dark {
    margin: 0 auto 10px;
    color: #fff;
    padding: 15px;
    max-width: 750px;
}
.blurred {
    -webkit-filter: url(#blur);
    filter: url(#blur);
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
.particles-holder {
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";/* IE 8 */
    filter: alpha(opacity=30);/* IE 5-7 */
    -moz-opacity: 0.3;/* Mozilla */
    -khtml-opacity: 0.3;/* Safari 1.x */
    opacity: 0.2; /* Good browsers */   
    z-index:0; 
}
.bgdark{
    background: #1a1f24; /* Old browsers */
    background: -moz-linear-gradient(left, #1a1f24 0%, #1b2832 50%, #1c1e22 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1a1f24 0%,#1b2832 50%,#1c1e22 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1a1f24 0%,#1b2832 50%,#1c1e22 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1f24', endColorstr='#1c1e22',GradientType=1 ); /* IE6-9 */
    color:#fff;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fcff70;
}
.btn.active, .btn:active {
    background-color: rgba(0,0,0,0.2);
}

.hm-btn, .hm-btn-green, .hm-btn-blue,.hm-btn-red {
    background: #0273b9; /* Old browsers */
    background: -moz-linear-gradient(top, #0273b9 0%, #0c4b90 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0273b9 0%,#0c4b90 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0273b9 0%,#0c4b90 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0273b9', endColorstr='#0c4b90',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    padding: 4px 12px;
}
.hm-btn-green{
    background: #3ea850;
    background: -moz-linear-gradient(top, #3ea850 0%, #3b9054 100%);
    background: -webkit-linear-gradient(top, #3ea850 0%,#3b9054 100%);
    background: linear-gradient(to bottom, #3ea850 0%,#3b9054 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ea850', endColorstr='#3b9054',GradientType=0 );    
}
.hm-btn-blue{
    background: #45779b;
    background: -moz-linear-gradient(top, #45779b 0%, #4b6b8f 100%);
    background: -webkit-linear-gradient(top, #45779b 0%,#4b6b8f 100%);
    background: linear-gradient(to bottom, #45779b 0%,#4b6b8f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45779b', endColorstr='#4b6b8f',GradientType=0 );
}
.hm-btn-red{
    background: #9B4545;
    background: -moz-linear-gradient(top, #9B4545 0%, #8F4B4B 100%);
    background: -webkit-linear-gradient(top, #9B4545 0%,#8F4B4B 100%);
    background: linear-gradient(to bottom, #9B4545 0%,#8F4B4B 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9B4545', endColorstr='#8F4B4B',GradientType=0 );
}
.hm-nav-menu li a.hm-btn:hover{
    color: #FEF54B;
}
.container .navbar {
    margin-top: 20px;
}
a.navbar-brand img {
    height: 80px;
}
.hm-nav-menu {
    margin-top:30px;
    list-style: none;
    padding-left: 0;
}
.hm-nav-menu li {
    display: inline-block;
    padding-left: 10px;
}
.hm-nav-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    text-shadow: 1px 1px 2px #000;
}
.hm-nav-menu li.active a {
    color: #19ACE3;
}
.hm-nav-menu li a:hover {
    color: #19ACE3;
}
a.navbar-brand {
    padding: 0;
}
.navbar-toggle .icon-bar {
    background: #fff;
}
.hm-shortline{
    max-width:50px;
}
.hm-shortline.dark {
    border-top: 1px solid #0958A2;
}
li.hm-nav-line {
    text-align: right;
    display:none;
}
li.hm-nav-line .hm-shortline {
    margin: 0;
    text-align: right;
    display: inline-block;
    width: 50px;
}
.hm-section-newsletter {
    background:#fff url(../images/footer.png) no-repeat top left;
    background-size:cover; 
    background-attachment: fixed;
    padding: 20px;
    color: #fff;
    font-size:16px;
}
.hm-section-newsletter.bg2 {
    background:#fff url(../images/bg-subscribe.jpg) no-repeat top left;
    background-size: cover;
}
.hm-blocks-outer {
    max-width: 95%;
    min-width: 700px;
    margin: 20px auto;
}
.hm-block-left {
    display: block;
    width: 40%;
    min-width: 300px;
    float: left;
}
.hm-block-right {
    display: inline-block;
    vertical-align: top;
    width: 60%;
}
.hm-block-item {
    width: 48%;
    min-width: 140px;
    min-height: 140px;
    margin: 0 1% 10px;
    float: left;
    padding: 5px;
    background: rgba(23,77,125,0.8);
    background-blend-mode: color-burn;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 2px 2px 20px rgba(0,0,0,0.4);
    -moz-box-shadow:    inset 2px 2px 20px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 2px 2px 20px rgba(0,0,0,0.4);
    position:relative;
    color:#fff;
}
.hm-block-item.big{
    width: 98%;
    height: 440px;
    
}
.label01, .label-icon{
    color: #fff;
    font-size: 10px;
    text-align: center;
    margin: 4px 0;
}
.label-icon {
    font-size: 13px;
    text-align: center;
    padding: 0 5px;
}
.label02 {
    color:#61BDE3;
    font-size: 14px;
    text-align: center;
}
.label03, .label06 {
    color:#61BDE3;
    font-size: 10px;
    text-align: center;
}
.label04 {
    color: #ccc;
    font-size: 13px;
    text-align: center;
    margin-top:10px;
}
.label05 {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.label06 {
    font-size: 12px;
}
.img-icon {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    margin-right: 4px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
.img-icon.bitcoin {
    background: url(../images/icon-bitcoin.png);
    background-image: url(../images/icon-bitcoin.svg), none;
}
.img-icon.litecoin {
    background: url(../images/icon-litecoin.png);
    background-image: url(../images/icon-litecoin.svg), none;
}
.img-icon.ethereum, .img-icon.ether {
    background: url(../images/icon-ether.png);
    background-image: url(../images/icon-ether.svg), none;
}
.img-icon.bitcoin2,
.img-icon.bitcoin-cash,
.img-icon.bitcoincash,
.img-icon.bitcoinCash {
    background: url(../images/icon-bitcoin-cash.png);
    background-image: url(../images/icon-bitcoin-cash.svg), none;
}
.img-icon.dash {
    background: url(../images/icon-dash.png);
    background-image: url(../images/icon-dash.svg), none;
}
#countdown_dashboard {
    color: #fff;
    margin: 90px auto 50px;
    display: inline-block;
    text-align: center;
}
#countdown_dashboard>div{
    text-align: center;
}
.dash.days_dash {
    text-align: right;
    position: relative;
}
.dash.days_dash::after, .dash.hours_dash::after, .dash.minutes_dash::after{
    display: block;
    content: '';
    height: 65%;
    border-right: 1px solid #fff;
    width: 1px;
    position: absolute;
    right: -1px;
    top: 4px;
}
.digit {
    display: inline-block;
    line-height: 1;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -3px;
}
.dash_title {
    display: block;
    margin-top: 4px;
    font-size: 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
a.hm-btn.hm-btn-big {
    color: #fff;
    margin: 0 auto;
    display: block;
    max-width: 350px;
    text-align: center;
    font-size: 16px;
    padding: 7px 20px;
}
.social-links.light {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    text-align: center;

}
.hm-roadmap {
    width: 960px;
    margin: auto;
    background-image: url(../images/loop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 230px;
}
.hm-roadmap>div {
    display: block;
    position: absolute;
    line-height: 1em;
    font-size: 11px;
}
.hm-roadmap>div.alt {
    bottom: 0;
    font-size: 11px;
}
.hm-roadmap>div h5 {
    color: #2269A7;
    margin: 0 0 4px;
    font-size: 13px;
}
.hm-roadmap .xmap1 {
    width: 216px;
    left: 3%;
}
.hm-roadmap .xmap2 {
    width: 166px;
    left: 24%;
}
.hm-roadmap .xmap3 {
    width: 166px;
    left: 41%;
}
.hm-roadmap .xmap4 {
    width: 166px;
    left: 59%;
}
.hm-roadmap .xmap5 {
    width: 215px;
    left: 74%;
}
.hm-whitepaper {
    margin: 0 auto;
    min-height: 255px;
    font-size: 14px;
    max-width: 980px;
}
.hm-whitepaper img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
.hm-book {
    position: relative;
}
.hm-tokensale-block {
    margin: 0 10%;
    font-size: 12px;
	display:inline-block;
}
.hm-line-number {
    position: relative;
}
.hm-line-number .number {
    background: #0959A3;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    padding-top: 6px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.hm-line-number::before {
    content: '';
    display: block;
    background: #0959a3;
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 14px;
    z-index: 0;
}
.hm-tokensale-numbers {
    max-width: 670px;
    margin: auto;
    text-align: right;
}
.hm-image {
    position: relative;
    z-index: 1;
    margin:0 15px;
}
.hm-image img {
    max-width: 80%;
}
.hm-market-block, .hm-members-block, .hm-middle-box {
    max-width: 1000px;
    margin: auto;
    font-size: 16px;
    text-align: justify;
}
.hm-form input, .hm-form textarea {
    border: 1px solid #ccc;
    width: 90%;
    padding: 8px 10px 7px;
    margin-bottom: 5px;
    min-width: 250px;
}
.social-links.dark img {
    width: 25px;
    opacity: 0.5;
}
a.hm-btn-outline {
    color: #666;
    border: 1px solid #666;
    padding: 9px 15px;
    display: inline-block;
}
.section.section-footer {
    padding: 20px;
    height: auto;
    min-height: auto;
}
.hm-blocks-outer.simple>.hm-block-item {
    float: none;
    display: inline-block;
    width:17%;
}
.hm-blocks-outer.simple {
    margin: 20px auto;
    text-align: center;
}
.hm-form.line {
    max-width: 500px;
    margin: auto;
}
.hm-form.line>input {
    display: block;
    width: 100%;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #7f7f7f;
}
.hm-form.line>label>input {
    width: auto;
    display: inline-block;
    min-width: 0;
    margin: 10px;
}
.hm-section-light.fullpage{
    position: fixed;
    left: 0;
    right:0;
    top:0;
    bottom:0;
}
.hm-block-item.hm-big-box {
    max-width: 430px;
    min-height: 300px;
    display: block !important;
    width: auto !important;
    margin: auto;
    padding: 20px;
    color:#fff;
    word-wrap: break-word;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.6);
    -moz-box-shadow:    2px 2px 20px rgba(0,0,0,0.6);
    -webkit-box-shadow: 2px 2px 20px rgba(0,0,0,0.6);
}
.hm-block-item a {
    color: #93BEFF;
}
.hm-block-item a.btn {
    color:#fff;
    min-width:100px;
}
.hm-block-item a:hover {
    color: #FFFEA9;
}
.hm-caption-dark h4 {
    line-height: 25px;
}
.hm-caption-dark h4>span {
    color:#68C5E9;
}
.section {
    padding-bottom:40px;
}
.section h4 {
    font-weight: bold;
    text-transform: uppercase;
    color: #183552;
}
.section h4 hr {
    margin-top: 15px;
    margin-bottom: 10px;
}
.hm-tokensale-item {
    position: relative;
    padding-left: 50px;
    padding-top: 5px;
}
.hm-tokensale-item::before {
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 12px;
    background: #0959a3;
}
.hm-tokensale-item .number {
    position: absolute;
    left: 10px;
    top: 9px;
    color: #fff;
    background: #0959a3;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    border-radius: 50%;
}
.hm-tokensale-item .content span {
    color: #0A59A3;
}
.hm-tokensale-item .hm-col-2 {
    column-count: 1;
    font-size: 15px;
}
.hm-text-note{
    vertical-align: bottom;
    color:#333 !important;
}
.section.bgdark h4 {
    color: #fff;
}
.hm-code {
    max-width: 900px;
    margin: auto;
    max-height: 400px;
    overflow: auto;
    border: 1px solid #999;
}
.hm-code .gist-file {
    margin: 0 !important;
}
.hm-code .gist-meta {
    display:none;
}
.hm-col-2 {
    column-count: 2;
    font-size: 12px;
}
.hm-dialog {
    position: fixed;

    top: -500px;
    left: 0;
    right: 0;
    margin: auto;
    min-height: auto !important;
    padding-left: 110px !important;
    text-align: left;
    min-width: 200px;
    max-width: 435px !important;
    z-index:99999;
}
.hm-dialog-footer {
    margin-top: 15px;
}
.hm-dialog .hm-dialog-icon {
    background-repeat: no-repeat;
    background-position: 0px 20px;
    width: 90px;
    position: absolute;
    background-size: contain;
    top: 0;
    bottom: 0;
    left: 15px;
}
.hm-dialog.dialog-ok .hm-dialog-icon {
    background-image: url(../images/ok.png);
}
.hm-dialog.dialog-error .hm-dialog-icon {
    background-image: url(../images/error.png);
}
.hm-dialog.dialog-info .hm-dialog-icon {
    background-image: url(../images/info.png);
}
.hm-dialog-layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    display:none;
    z-index:99999;
}
.hm-dialog-body {
    padding-top: 10px;
}
.with-dialog .hm-dialog {
    top: 25px;
    z-index:99999;
}
.with-dialog .hm-dialog-layer {
    display:block;
}
.img-icon.large {
    width: 40px;
    height: 40px;
    margin-bottom: 3px;
}
.label-icon h4 {color:#fff;}
.hm-block-item{cursor:pointer}
.hm-block-item.selected{background: rgba(33, 160, 62, 0.8)}
.section.section-grad {
    background: url(../images/background.jpg),-moz-linear-gradient(-45deg, rgba(91,46,112,0.9) 0%, rgba(30,150,193,0.9) 100%);
    background: url(../images/background.jpg),-webkit-linear-gradient(-45deg, rgba(91,46,112,0.9) 0%,rgba(30,150,193,0.9) 100%);
    background: url(../images/background.jpg),linear-gradient(135deg, rgba(91,46,112,0.9) 0%,rgba(30,150,193,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b35b2e70', endColorstr='#b31e96c1',GradientType=1 );
    padding-top: 30px;
    color: #fff;
    background-blend-mode: color-burn;
    background-attachment: fixed;
    background-size: cover;
}
.section.section-2.section-grad a, .section.section-grad h4 {
    color: #fff;
}
.hm-member-row::after {
    content: '';
    display: block;
    position: relative;
    clear:both;
}
.hm-member-row {
    margin-top: 60px;
    text-align: center;
}
.hm-member-row.top {
    margin-top: 60px;
}
.hm-member-row.bottom {
    margin-bottom: 40px;
    margin-top: 0px;
}
.hm-member-row .hm-member-item {
    width: 18%;
    margin: 1%;
    text-align: center;
    position: relative;
    background: #eee;
    padding: 10px;
    display: inline-block;
}
.hm-member-row.top .hm-member-item {
    border-radius: 8% 8% 0 0;
}
.hm-member-row.bottom .hm-member-item {
    border-radius: 0 0 8% 8%;
    padding-bottom:50px;
}
.hm-member-item .hm-links img {
    max-height: 17px;
    display: inline-block;
    margin: 5px;
    opacity: 0.6;
}
.hm-member-row .hm-member-pic {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
}
.hm-member-row img.hm-member-badge {
    position: absolute;
    max-width: 39px;
}
.hm-member-row.top .hm-member-pic {
    margin-top: -60px;
}
.hm-member-row.top img.hm-member-badge {
    right: 10px;
    top: 7px;
}
.hm-member-row.bottom .hm-member-pic {
    bottom: -50px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
}
.hm-member-row.bottom img.hm-member-badge {
    right: 10px;
    bottom: 7px;
}
.hm-member-item h4 {
    color: #163650;
    font-size: 14px;
}
.hm-member-item h5 {
    color: #163650;
    font-size: 12px;
}
a.btn-top {
    position: fixed;
    bottom: -100px;
    right: 0;
    z-index: 10;
}
.with-toplink a.btn-top {
    bottom: 9px;
}
.hm-member-item>h5>span {
    font-size: 9px;
}
.section[id]:focus {
    outline: none !important;
}
.hm-newsletter-form {
    max-width: 600px;
    margin: 20px auto 40px;
    width: 100%;
    height: 40px;
    position: relative;
}
.hm-newsletter-form>input {
    height: 40px;
    color: #999;
    padding: 15px 20px;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 75%;
}
.hm-newsletter-form .hm-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 10px !important;
    width: 25%;
    background: #2AB40E;
    background: -moz-linear-gradient(top,#2AB40E 0,#219513 100%);
    background: -webkit-linear-gradient(top,#2AB40E 0,#219513 100%);
    background: linear-gradient(to bottom,#2AB40E 0,#219513 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2AB40E', endColorstr='#219513', GradientType=0 );
}
.hm-section-newsletter .social-links.light {
    position: relative;
    bottom: 0;
    margin-bottom: 40px;
}
.hm-section-newsletter .other-links a {
    color:#fff;
    font-size: 14px;
}
.fade-links>a {
    display: inline-block;
    margin: 15px 30px;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */  
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.fade-links>a:hover{
    -webkit-filter: grayscale(0);
    filter: none;
}
.fade-links>a>img {
    height: 35px;
    width:auto;
}
.section-seen-on h4 {
    color: #406484;
    margin: 60px 0 15px;
}
a.hm-btn.hm-btn-light {
    background: #ccc;
    color: #2e59aa !important;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 8px 20px;
}
ul.hm-nav-menu.light li {
    color: #fff;
    padding-left: 30px;
    display: inline-block;
}
ul.hm-nav-menu.light li .hm-btn{
    text-shadow:none;
}
.hm-hovertabs {
    text-align: center;
    position: relative;
    margin-bottom: -34px;
    z-index: 2;
}
.hm-hovertabs>a {
    display: inline-block;
    width: 150px;
}
a.hm-tab-item>img {
    visibility: hidden;
    width: 150px;
    height:auto;
}
a.hm-tab-item.active>img {
    visibility: visible;
}
a.hm-tab-item:hover>img {
    opacity: 0.4;
    visibility: visible;
}
a.hm-tab-item.active:hover>img {
    opacity: 1 !important;
}
a.hm-tab-item.tab-ethereum {
    background-size: cover;
    background-image: url(../images/icon-tg-ethereum.png);
}
a.hm-tab-item.tab-other {
    background-size: cover;
    background-image: url(../images/icon-tg-other.png);
}
.section.section-layered {
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
    padding: 80px 10px;
    position: relative;
}
.hm-midbox {
    max-width: 800px;
    margin: auto;
    font-size: 14px;
}
.hm-subtitle {
    margin: 10px 0;
}
.hm-midbox p {
    margin: 20px 0;
}
.hm-box-rounded {
    background-color: rgba(227,236,246,0.6);
    padding: 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    margin-top: 50%;
}    
.hm-dark, .hm-dark a {
    color: #fff;
}
.hm-dark .hm-subtitle {
    color: #fff;
    font-size: 18px;
}
.social-links.relative {
    position: relative !important;
    bottom: auto;
    left: auto;
    right: auto;
    text-align: left;
    margin-top: 12px;
}
.hm-blocks-outer.selectable .hm-block-item {
    margin: 0 0 10px;
    font-size:12px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background:transparent !important;
    color:#333;
}
.hm-blocks-outer.selectable .hm-block-item h5 {
    color:#333;
}
.hm-blocks-outer.selectable .hm-block-item.active,
.hm-blocks-outer.selectable .hm-block-item:hover {
    box-shadow: 2px 2px 20px rgba(0,0,0,.4);
    -moz-box-shadow: 2px 2px 20px rgba(0,0,0,.4);
    -webkit-box-shadow: 2px 2px 20px rgba(0,0,0,.4);
    background:rgba(23,77,125,.8) !important;
    color:#fff;
}
.hm-blocks-outer.selectable .hm-block-item.active h5,
.hm-blocks-outer.selectable .hm-block-item:hover h5 {
    color:#fff;
}
.bg-grad {
    background: -moz-linear-gradient(-45deg,rgba(91,46,112,.7) 0,rgba(30,150,193,.7) 80%);
    background: -webkit-linear-gradient(-45deg,rgba(91,46,112,.7) 0,rgba(30,150,193,.7) 80%);
    background: linear-gradient(135deg,rgba(91,46,112,.7) 0,rgba(30,150,193,.7) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b35b2e70', endColorstr='#b31e96c1', GradientType=1 );
}
.hm-slimhdr-content {
    max-width:1000px;
    margin:auto;
    padding:15px;
    float:none;
}
.font-mid, .font-mid p {
    font-size:14px;
    color:#666;
}
.font-mid h2, .hm-midbox h2, .hm-subtitle  {
    color:#1e76bc;
}
.hm-blocks-outer.selectable .hm-block-item .img-icon.bitcoin {
    background: url(../images/icon-b-bitcoin.png);
}
.hm-blocks-outer.selectable .hm-block-item.active .img-icon.bitcoin {
    background: url(../images/icon-bitcoin.png);
}
.hm-blocks-outer.selectable .hm-block-item .img-icon.litecoin {
    background: url(../images/icon-b-litecoin.png);
}
.hm-blocks-outer.selectable .hm-block-item.active .img-icon.litecoin {
    background: url(../images/icon-litecoin.png);
}
.hm-blocks-outer.selectable .hm-block-item.active .img-icon.ethereum,
.hm-blocks-outer.selectable .hm-block-item.active .img-icon.ether {
    background: url(../images/icon-ether.png);
}
.hm-blocks-outer.selectable .hm-block-item .img-icon.ethereum,
.hm-blocks-outer.selectable .hm-block-item .img-icon.ether {
    background: url(../images/icon-b-ether.png);
}
.hm-blocks-outer.selectable .hm-block-item.active .img-icon.bitcoin2,
.hm-blocks-outer.selectable .hm-block-item.active .img-icon.bitcoin-cash,
.hm-blocks-outer.selectable .hm-block-item.active .img-icon.bitcoincash,
.hm-blocks-outer.selectable .hm-block-item.active .img-icon.bitcoinCash {
    background: url(../images/icon-bitcoin-cash.png);
}
.hm-blocks-outer.selectable .hm-block-item .img-icon.bitcoin2,
.hm-blocks-outer.selectable .hm-block-item .img-icon.bitcoin-cash,
.hm-blocks-outer.selectable .hm-block-item .img-icon.bitcoincash,
.hm-blocks-outer.selectable .hm-block-item .img-icon.bitcoinCash {
    background: url(../images/icon-b-bitcoin-cash.png);
}
.hm-blocks-outer.selectable .hm-block-item.active .img-icon.dash {
    background: url(../images/icon-dash.png);
}
.hm-blocks-outer.selectable .hm-block-item .img-icon.dash {
    background: url(../images/icon-b-dash.png);
}
#particleBg, #particleBgBlurred {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}
.section.bgdark.bgtrans {
    background: transparent;
}
.hm-section-newsletter,.hm-section-light,.hm-section-clear{
    position: relative;
    z-index: 1;
}
.hm-section-clear {
    background: #fff;
}




/*  -GIST-  */
.gist .gist-file {
    border:0px !important;
}
.gist table {
    background: #000 !important;
}
.gist table td {
    color: #fff !important;
}
.gist .gist-data {
    border-bottom: 0 !important;
    border-radius: 0 !important;
}
.gist .blob-wrapper {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}





/* Animations*/
.anim{
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
#nav-menu-anim {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 15px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
    padding: 0;
    right: 7px;
    z-index: 2;
}
#nav-menu-anim.collapsed span {
    -webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
    -o-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}
#nav-menu-anim span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
#nav-menu-anim:hover span{
    background:#E31818;
}
#nav-menu-anim.collapsed:hover span{
    background:#19ACE3 !important;
}
#nav-menu-anim.collapsed span:nth-child(1) {
    top: 5px;
}
#nav-menu-anim.collapsed span:nth-child(2) {
    top: 9px;
    opacity: 1 !important;
    left: 0 !important;
}
#nav-menu-anim.collapsed span:nth-child(3) {
    top: 17px;
}
#nav-menu-anim span:nth-child(1) {
    top: 13px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
#nav-menu-anim span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
#nav-menu-anim span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.header-note {
    color: #25A9E0;
    font-size: 16px;
}
.hm-dialog-body img[alt*="Scan"] {
    border: 15px solid #fff;
}


/* Media Queries */
@media (max-width: 768px) {
    li.hm-nav-line {display:block;}
    .container .navbar {
        margin-top: 0;
    }
    .navbar-toggle {
        margin-right: 0px;
    }
    .hm-sitelogo {
        margin-top: 15px;
    }
    div#navbar {
        position: fixed;
        right: -300px;
        top: 0;
        bottom: 0;
        width: 250px;
        background: rgba(0,0,0,0.9);
        padding-top: 25px;
    }
    div#navbar.in {
        right:0;
    }
    .hm-nav-menu li {
        display: block;
        text-align: right;
        margin: 10px;
    }
    .hm-block-left, .hm-block-right {
        width: auto;
        float:none;
        text-align:center;
        display: block;
        padding: 0 10px;
    }
    .hm-block-item {
        float: none;
        display: inline-block;
        vertical-align: top;
        width:100%;
        margin: 0 0 1px;
        height: auto;
        min-height: auto;
        color:#fff;
    }
    .hm-block-item.big {
        width: 100%;
    }
    .hm-roadmap {
        width: auto;
        margin: auto;
        display: inline-block;
    }
    .hm-roadmap>div {
        display: block;
        float: none;
        height: 85px;
        background-position: 10px 0 !important;
        position: relative;
        box-sizing: border-box;
        line-height: 1em;
        width: auto !important;
        padding-left: 100px !important;
        padding-top: 10px !important;
        text-align: left;
    }
    .hm-roadmap .map1 {
        background: url(../images/loop1_vs.png) no-repeat;
    }
    .hm-roadmap .map2 {
        background: url(../images/loop2_vs.png) no-repeat;
    }
    .hm-roadmap .map3 {
        background: url(../images/loop3_vs.png) no-repeat;
    }
    .hm-roadmap .map4 {
        background: url(../images/loop4_vs.png) no-repeat;
    }
    .hm-roadmap .map5 {
        background: url(../images/loop5_vs.png) no-repeat;
    }
    .hm-whitepaper {
        background-image:none;
    }
    .hm-block-item.big {
        height: 350px;
    }
    .hm-tokensale-numbers {display:none;}
    .section-about-footer {text-align:center;}
    .hm-blocks-outer {min-width:auto;}
    .digit {
        font-size:30px;
    }
    .hm-code {
        margin: 10px;
    }
    img {
        max-width: 96%;
    }
    .hm-roadmap {
        background-image: url(../images/loop-v.png);
        height: auto;
        background-position: top left;
        padding-top: 50px;
    }
    .hm-roadmap .xmap1, .hm-roadmap .xmap2, .hm-roadmap .xmap3, .hm-roadmap .xmap4, .hm-roadmap .xmap5, .hm-roadmap .xmap6 {
        left: 0 !important;
    }
    .hm-col-2 {
        column-count: 1;
    }
    .hm-tokensale-block {
        margin: 0 10px;
    }
    .hm-member-item {
        float: none !important;
        width: auto !important;
        border-radius: 5px 0 0 5px !important;
        margin: 10px 15px 15px 50px !important;
        padding-left: 50px !important;
        text-align:left !important;
        padding-bottom:10px !important;
        display: block !important;
    }
    .hm-member-item .hm-links {
        margin-left: -5px;
    }
    .hm-member-item .hm-member-pic {
        margin: 0 !important;
        float: left;
        position: absolute !important;
        left: -40px !important;
        bottom: auto !important;
        width: 85px !important;
        height: 85px !important;
    }
    .hm-member-row img.hm-member-badge {
        right: 10px;
        top: 7px;
    }
    .hm-member-row.bottom {
        margin-bottom: 0px;
    }
    
}
@media (max-width: 600px) {
    .hm-newsletter-form>input {
        width: 70%;
    }
    .hm-newsletter-form .hm-btn {
        padding: 10px !important;
        width: 30%;
    }
    .h3, h3 {
        font-size: 22px;
    }
    .hm-section-newsletter {
        font-size: 14px;
    }
    .hm-whitepaper .hm-book {
        margin-bottom: 20px;
    }
    .hm-whitepaper h4 {
        display: block !important;
        text-align: center !important;
    }
    .hm-whitepaper .hm-book img+div {
        padding-left: 0 !important;
    }
    .hm-box-rounded {
        margin-top: 0;
    }
    .hm-midbox, .hm-box-rounded,.hm-market-block, .hm-members-block, .hm-middle-box {
        font-size: 12px;
    }
    .social-links a.icon {
        display: inline-block;
        margin: 0px 0px 8px;
        width: 26px;
    }
}