<div class="container">
  <div class="jumbotron text-center">
    <h1>You have verified the email</h1>
    <p class="lead">To visit your contribution page please follow this link
    <br> <a href="<%- walletURL %>"><%- walletURL %></a>
    </p>
    <p><a class="btn btn-lg btn-success" href="<%- walletURL %>" role="button">Visit Contribution Page</a></p>
  </div>
</div>
