<form action="/param/update/<%=param.id%>" method="POST" class="edit">
  <div class="row">
    <h2 class="col-md-12"> Edit param </h2>

    <%- partial('fields.ejs') %>

  </div>
  <input type="submit" value="Update Param" class="btn btn-info" />
  <a href="/param" class="btn btn-default">Cancel</a>
</form>
