<div class="form-group col-md-6">
  <label>Key</label>
  <input type="text" class="form-control" name="key" value="<%= typeof param != 'undefined' ? param.key : '' %>" required>
</div>

<div class="form-group col-md-12">
  <label class="control-label">Value (JSON format)</label>
  <textarea name="value" class="form-control" rows="20" required><%= typeof param != 'undefined' ? JSON.stringify(param.value, null, 2) : '{}' %></textarea>
  <span class="pmd-textfield-focused"></span>
</div>