<% stylesheet('/vendors/DataTables/DataTables-1.10.15/css/dataTables.bootstrap.min.css') %>
<% stylesheet('/vendors/DataTables/Responsive-2.1.1/css/responsive.bootstrap.min.css') %>
<% stylesheet('/vendors/DataTables/Select-1.2.2/css/select.dataTables.min.css') %>
<% stylesheet('/components/data-table/css/pmd-datatable.css') %>

<h1 class="section-title" id="services">
  <span>Params</span>
  <a href="/param/new/" class="pull-right btn btn-success" role="button">
    <span>Create New</span>
  </a>
</h1>

<table id="data-table-params" class="table pmd-table table-hover table-striped display responsive nowrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th>Key</th>
      <th>Value</th>
      <th></th>
    </tr>
  </thead>
</table>
<% script('/vendors/DataTables/DataTables-1.10.15/js/jquery.dataTables.min.js') %>
<% script('/vendors/DataTables/DataTables-1.10.15/js/dataTables.bootstrap.min.js') %>
<% script('/vendors/DataTables/Responsive-2.1.1/js/dataTables.responsive.min.js') %>
<% script('/vendors/DataTables/Select-1.2.2/js/dataTables.select.min.js') %>
<% script('/js/param/index.js') %>
