<form action="/param/create" method="POST" role="form" class="new">
    <div class="row">
        <h2 class="col-md-12">Create a param</h2>

        <%- partial('fields.ejs') %>

    </div>
    <input type="submit" value="Submit" class="btn btn-info" />
    <a href="/param" class="btn btn-default">Cancel</a>
</form>
