<div class="bg-grad hm-slimhdr">
    <div class="col-sm-12 hm-slimhdr-content">
        <a href="/">
            <img src="/images/holdme-logotext-color.png" class="pull-left" height="18" />
        </a>
        <div class="text-right">
            <ul class="hm-nav-menu light" style="display:inline">
                <li>1 ETH =
                    <%= 1 / currencies.ether.ratePerToken %> HME</li>
                <li>
                    <a class="hm-btn anim" href="/page/join">
                        <img src="/images/icon-heart.png" style="height: 9px;margin-right: 5px;">
                        <span>PURCHASE</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="section text-center font-mid">
    <br/>
    <br/>
    <img src="/images/holdme-logobox-color.png" class="" height="60" />
    <h2>PURCHASE METHOD</h2>
    <p>Choose a purchase method below for follow-up instructions.
        <br/> NOTICE : Bitcoin and Altcoin payments needs email and your ETH address registrations. </p>
</div>