<div class="hm-section-light">
   <div class="section section-2">
      <div class="hm-blocks-outer">
         <div class="hm-block-left">
            <div class="hm-block-item">
               <div class="label01">
                  Total tokens contributed (including bonus tokens):
               </div>
               <div class="label02">
                  <%= new Intl.NumberFormat().format(summary.totalToken.toFixed(2)) %>
               </div>
               <div class="label03">
                  ($
                  <%= new Intl.NumberFormat().format(summary.totalUSD) %>)
                  <%= new Intl.NumberFormat().format(summary.count) %> txns
               </div>
               <div class="label01">
                  Funds raised (excluding bonus tokens):
               </div>
               <div class="label02">
                  $
                  <%= new Intl.NumberFormat().format(summary.totalUSD) %>
               </div>
            </div>
            <% _.forOwn(currencies, function (cur, key) { %>
            <div class="hm-block-item">
               <div class="label-icon">
                  <span class="img-icon <%= key.toLowerCase() %>"></span>
                  <%= cur.name %>
               </div>
               <div class="label04">
                  Contributed in
                  <%= cur.symbol %> :
               </div>
               <div class="label05">
                  <%= summary.distributions[key] ? new Intl.NumberFormat().format(summary.distributions[key].value.toFixed(4)) : 0.0000 %>
                  <%= cur.symbol %>
               </div>
               <div class="label06">
                  $
                  <%= summary.distributions[key] ? new Intl.NumberFormat().format(summary.distributions[key].valueUSD.toFixed(2)) : 0.00 %>
               </div>
            </div>
            <% }) %>
         </div>
         <div class="hm-block-right">
            <div class="hm-block-item big text-center">
               <div class="row" id="countdown_dashboard" data-deadline="<%= phase && 'endDateTime' in phase ? phase.endDateTime : '' %>">
                  <div class="col-xs-3 dash days_dash">
                     <div class="digit">0</div>
                     <div class="digit">0</div>
                     <span class="dash_title">days</span>
                  </div>
                  <div class="col-xs-3 dash hours_dash">
                     <div class="digit">0</div>
                     <div class="digit">0</div>
                     <span class="dash_title">hours</span>
                  </div>
                  <div class="col-xs-3 dash minutes_dash">
                     <div class="digit">0</div>
                     <div class="digit">0</div>
                     <span class="dash_title">minutes</span>
                  </div>
                  <div class="col-xs-3 dash seconds_dash">
                     <div class="digit">0</div>
                     <div class="digit">0</div>
                     <span class="dash_title">seconds</span>
                  </div>
               </div>
               <!-- #countdown_dashboard -->
               <br/>
               <br/>
               <a class="hm-btn anim hm-btn-big" href="/page/join">JOIN ICO</a>
               <!-- social links widget -->

            </div>
         </div>
      </div>
   </div>
</div>

<script src="/js/countdown.js"></script>
