<!--Deposits-->

<div class="hm-section-light">
  <div class="section section-2">
    <div class="container">
      <div class="row">
        <br><br>
        <table class="table table-condensed">
          <colgroup>
            <col style="width: 7%">
            <col style="width: 25%">
            <col style="width: 40%">
            <col style="width: 10%">
          </colgroup>
          <thead>
            <tr>
              <th>
                <h4>Currency</h4>
              </th>
              <th>
                <h4>Price</h4>
              </th>
              <th>
                <h4>Your deposit address</h4>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% _.forOwn(investor.deposits, function (deposit, currency) { %>
              <% if (currency == 'ether') deposit.wallet = '0x' + deposit.wallet %>
              <tr>
                <td data-title="Currency" align="center">
                  <img src="<%= currencies[currency].img.replace('crypto','crypto-blue') %>" alt="<%= currencies[currency].name %>" class="img-responsive">
                </td>
                <td style="vertical-align: middle;">
                  <h5>1 TOKEN =
                    <%= currencies[currency].ratePerToken.toFixed(6) %>
                      <%= currencies[currency].symbol %>
                  </h5>
                </td>
                <td data-title="Your Wallet Address" style="vertical-align: middle;">
                  <h5>
                    <%= deposit.wallet %>
                  </h5>
                </td>
                <td style="vertical-align: middle;">
                  <a href="javascript:void(0);" title="Copy to clipboard" class="btn-clipboard" data-clipboard-text="<%= deposit.wallet %>">
                    <img src="/images/clipboard.png" style="height: 25px"/>
                  </a>
                  <a class="btn-qr" title="View QR code" data-wallet-text="<%= deposit.wallet %>" data-title="<%= currencies[currency].name %>">
                    <img src="/images/crypto-blue/qr code.png" style="height: 25px"/>
                  </a>
                  <div style="display:none" />
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
      <% if (Object.keys(currencies).length > Object.keys(investor.deposits).length) { %>
      <div class="row">
        <form id="add-wallet-form" class="form-inline">
          <input type="hidden" name="investorId" value="<%= investor.id %>">
          <select name="newWallet" class="form-control">
          <% _.forOwn(currencies, function (val, key) { %>
            <% if (!investor.deposits[key]) { %>
              <option value="<%= key %>"><%= val.name %></option>
            <% } %>
          <% }) %>
          </select>
          <a href="javascript:" class="btn hm-btn btn-submit">Add Wallet</a>
        </form>
      </div>
      <% } %>
    </div>
  </div>
  <br>
</div>

<% script('/js/app.js') %>
<% script('/vendors/qrcode.js') %>
<% script('/vendors/clipboard.min.js') %>
<% script('/js/investor.js') %>