<div class="hm-section-light">
      <%- include _joinHeader.ejs %>
      <div class="hm-hovertabs">
          <a href="#" class="hm-tab-item tab-ethereum active" ><img src="/images/icon-tb-ethereum.png"></a>
          <a href="/page/join" class="hm-tab-item tab-other" ><img src="/images/icon-tb-other.png"></a>
      </div>
      <div class="section section-layered">
          <div class="hm-midbox">
              <div class="col-sm-5" >
                  <img src="
                  /images/icon-payment.png" height="50">
                  <h2 style="margin-bottom:30px">Ethereum Payments</h2>
                  <p>
                      Ether payments can be made instantly using an ERC20 compliant wallet.
                  </p>
                  <p>
                      The minimum participation amount is 0.01 ETH. Do not send anything other than ETH to the Sale Contract or you will not be able to purchase HME Tokens and such transaction will be null and void.
                  </p>
                  <p>
                      There are 2 ways to participate in the HME Token Sale
                      <div class="hm-subtitle">1.) Send ETH directly to the Token Sale Contract</div>
                      To take part in the current Token Sale period, simply send ETH directly to the Token Sale Contract.
                      <div class="hm-subtitle">2) Use contribute ETH function in the Sales Contract</div>
                          If you would like to purchase HME Tokens, you can use the contribute ETH function in the Sales Contract
                  </p>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-6">
                  <div class="hm-box-rounded">
                    <div>The Ethereum address ICO is:</div>
                    <div class="hm-subtitle"><b><%= sails.config.smartContract.address %></b></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="section bg-grad ">
            <br/>
            <div class="hm-middle-box hm-dark">
                <div class="col-sm-6">
                    <h3><b>BE THE FIRST TO FIND OUT !</b></h3>
                    <div>Subscribe to our newsletter by entering your email below <br>and be the first one to get news</div>
                    <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate></form>
                    <div class="hm-newsletter-form">
                        <input type="text" class="txtbox" name="txtEmail" placeholder="Enter your email here" />
                        <a onclick="$('#mc-embedded-subscribe-form').submit()" class="hm-btn anim hm-btn-big" style='cursor: pointer;'>Subscribe</a>
                    </div>
                    </form>

                </div>
                <div class="col-sm-6">
                    <br/>
                    <div class="hm-subtitle">Useful Links</div>
                    <br>
                    <div class="other-links">
                        <a href="/">Homepage</a> &nbsp;
                          <a href="#">TERMS & CONDITIONS</a> &nbsp;
                          <a href="#">PRIVACY</a>
                    </div>
                    <div class="social-links relative light">
                        <a href="#" target='blank' class="icon telegram"><img src="/images/icon-sw-telegram.png"></a>
                        <a href="#"  target='blank' class="icon slack"><img src="/images/icon-sw-slack.png"></a>
                        <a href="#"  target='blank' class="icon reddit"><img src="/images/icon-sw-reddit.png"></a>
                        <a href="#"  target='blank' class="icon facebook"><img src="/images/icon-sw-facebook.png"></a>
                        <a href="#"  target='blank' class="icon linkedin"><img src="/images/icon-sw-linkedin.png"></a>
                        <a href="#"  target='blank' class="icon twitter"><img src="/images/icon-sw-twitter.png"></a>
                        <a href="#"  target='blank' class="icon instagram"><img src="/images/icon-sw-instagram.png"></a>
                        <a href="#"  target='blank' class="icon bitcoin"><img src="/images/icon-sw-bitcoin.png"></a>
                        <a href="#"  target='blank' class="icon github"><img src="/images/icon-sw-github.png"></a>
                        <a href="#"  target='blank' class="icon medium"><img src="/images/icon-sw-medium.png"></a>
                  </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
     </div>
  </div>