<div class="hm-section-light">
   <div class="section section-2 text-center">
       <div class="hm-midbox">
            <b>choose cryptocurrency :</b>
            <div id="currency-selections" class="hm-blocks-outer simple selectable">
                <% _.forOwn(currencies, function (cur, key) { %>
                    <div class="hm-block-item selectable" data-currency="<%= key %>" title="<%= cur.lastUpdatedAt || 'please refresh..' %>">
                    <div class="label-icon">
                        <br>
                        <span class="img-icon large <%= key.toLowerCase() %>"></span>
                        <br>
                        <h5><b><%= cur.name.toUpperCase() %></b></h5>
                    </div>
                    <div>1 TOKEN = <%= cur.ratePerToken.toFixed(6) %><br> <%= cur.symbol %></div>
                </div>
                <% }) %>
            </div>
            <br>
            <div class="hm-form line text-center" style="max-width: 300px;">
                <form id="join-form" class="hm-form line">
                    <input type="email" name="email" placeholder="Enter your email" required autofocus><span id='msg'></span></span><br>
                    <input type="text" name="wallet" placeholder="Ethereum address. We will send the tokens on it" required><span id='msg'></span>
                <label>
                    <input type="checkbox" name="agreeWithTC" required> I Agree with <a href="#" target="_blank">Terms & Coditions</a>
                </label><br>
                    <div class="g-recaptcha" data-sitekey="<%=sails.config.recaptcha.siteKey %>"></div><br>
                <div class="text-center">
                    <a href="javascript:" class="hm-btn anim hm-btn-big btn" style="display:inline-block; width:150px;" type='submit'> Join </a>
                    <br><br>
                    <a href="/auth/resend">Lost your link? recover here.</a>
                </div>
                </form>
            </div>
            <br>
      </div>
   </div>

<% script('/js/dialog.js') -%>
<% script('/js/app.js') -%>
<% script('/js/join.js') -%>
